div#without{
    box-sizing: content-box;
    width: 200px;
    height: 100px;
    background: coral;
    padding: 10px 20px;
    margin: 10px;
    border: 10px deeppink solid;
} 

div#with{
    box-sizing: border-box;
    width: 200px;
    height: 100px;
    background: coral;
    padding: 10px 20px;
    margin: 10px;
    border: 10px deeppink solid;
}

